# Port number your server will run on
PORT=8080

# PostgreSQL database connection string
DB_CONNECTION_STRING=your_db_connection_string_here

# Secret key for signing JWT tokens
JWT_SECRET_KEY=your_jwt_secret_key_here